- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  
- name: Upgrade packages
  apt:
    upgrade: dist

- name: Install basic tools
  apt:
    name: ['curl', 'vim', 'htop', 'net-tools']
    state: present