- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  
- name: Upgrade packages
  apt:
    upgrade: dist

- name: Install basic tools
  apt:
    name: ['curl', 'vim', 'htop', 'net-tools']
    state: present

- name: install prometheus-node-exporter
  apt:
    name: ['prometheus-node-exporter']
    state: present

- name: enable and start prometheus-node-exporter
  service:
    name: prometheus-node-exporter
    state: started
    enabled: yes